.main-results .group {
  padding: 15px; }

.group {
  max-width: calc($max-content-width / 3); }
  .group__title {
    font-size: 2rem;
    font-weight: 700;
    position: relative;
    margin-bottom: 3.5rem; }
    .group__title-txt {
      text-align: center; }
